<div class="main-table-container">
  <mat-form-field class="example-form-field">
    <mat-icon matPrefix>search</mat-icon>
    <mat-label>Rechercher
    </mat-label>
    <input matInput type="text">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" >
    <ng-container matColumnDef="Time">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let logs"> {{logs.timestamp}} </td>
    </ng-container>
    <ng-container matColumnDef="IP Source">
      <th mat-header-cell *matHeaderCellDef> IP Source </th>
      <td mat-cell *matCellDef="let logs"> {{logs.source_ip}} </td>
    </ng-container>
    <ng-container matColumnDef="IP Destination">
      <th mat-header-cell *matHeaderCellDef> IP Destination </th>
      <td mat-cell *matCellDef="let logs"> {{logs.destination_ip}} </td>
    </ng-container>
    <ng-container matColumnDef="Ports">
      <th mat-header-cell *matHeaderCellDef> Ports </th>
      <td mat-cell *matCellDef="let logs" > {{logs.info}} </td>
    </ng-container>
    <ng-container matColumnDef="Protocole">
      <th mat-header-cell *matHeaderCellDef> Protocole </th>
      <td mat-cell *matCellDef="let logs"> {{logs.protocol}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay" ></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay" 
    (click)="onRowClicked(row)" 
    matRipple 
    class="clickable-row">
</tr>

  </table>

  <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>  
</div>

<app-info-machine></app-info-machine>
