<div class="side-panel">
    <div class="side-panel-link">
        <button mat-fab extended (click)="showHome()">
            <mat-icon>home</mat-icon><p>Accueil</p>
        </button>
    </div>
    <div class="side-panel-link">
        <button mat-fab extended (click)="showGraphs()">
            <mat-icon>analytics</mat-icon><p>Graphiques</p>
        </button>
    </div>
    <div class="side-panel-link">
        <button mat-fab extended>
            <mat-icon>bug_report</mat-icon><p>Infections</p>
        </button>
    </div>
    <div class="side-panel-link">
        <button mat-fab extended>
            <mat-icon>bug_report</mat-icon><p>Suspect</p>
        </button>
    </div>
</div>
