.side-panel {
    background-color: var(--primary-color);
    width: 20% !important;
    max-width: 260px !important;
    min-width: fit-content !important;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 1);
    .side-panel-link {
        button {
            box-shadow: none !important;
            margin-right: 20px;
        }
        margin-left: 20px;
    }
    .side-panel-link:first-of-type {
        margin-top: 20px;
    }
}